/* gallery.css */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
  }
  
  .gallery-item {
    background-color: #ffeb3b;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: calc(20% - 20px); /* Adjusted for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .gallery-item .description {
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .gallery-item .author,
  .gallery-item .vote-info {
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  .gallery-item .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .likes-count {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
  }
  
  .like-icon {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .like-icon:hover {
    background-color: #0056b3;
  }
  